* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  background: linear-gradient(#cc2b5e, #753a88);
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

textarea {
  margin: 20px;
}

h1 {
  margin: 20px;
  color: beige;
}

p {
  margin: 5px;
  color: antiquewhite;
}

#my-textarea-remaining-chars {
  color: azure;
}
